<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>MyServlets.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>MyServlets.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>MyServlets.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPage</servlet-name>
        <servlet-class>MyServlets.ProductPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductTable</servlet-name>
        <servlet-class>MyServlets.ProductTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleteproduct</servlet-name>
        <servlet-class>MyServlets.Deleteproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Supplierpage</servlet-name>
        <servlet-class>MyServlets.Supplierpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suppliertable</servlet-name>
        <servlet-class>MyServlets.Suppliertable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplier</servlet-name>
        <servlet-class>MyServlets.DeleteSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alert</servlet-name>
        <servlet-class>MyServlets.Alert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Genericservlet</servlet-name>
        <servlet-class>MyServlets.Genericservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AkshitLogin</servlet-name>
        <servlet-class>MyServlets.AkshitLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginandPassword</servlet-name>
        <servlet-class>SwarServlet.LoginandPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>SwarServlet.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>MyServlets.servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentData</servlet-name>
        <servlet-class>MyServlets.StudentData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>genericservlet</servlet-name>
        <servlet-class>MyServlets.genericservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrugType</servlet-name>
        <servlet-class>MyServlets.DrugType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatchNumber</servlet-name>
        <servlet-class>MyServlets.BatchNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alphabet</servlet-name>
        <servlet-class>MyServlets.Alphabet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInput</servlet-name>
        <servlet-class>MyServlets.CustomerInput</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>MyServlets.DeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecustomer</servlet-name>
        <servlet-class>MyServlets.deletecustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerTable</servlet-name>
        <servlet-class>MyServlets.CustomerTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpiryCode</servlet-name>
        <servlet-class>MyServlets.ExpiryCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>MyServlets.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>MyServlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>MyServlets.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>MyServlets.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineDataServlet</servlet-name>
        <servlet-class>MyServlets.MedicineDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateBill</servlet-name>
        <servlet-class>MyServlets.GenerateBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salesreport</servlet-name>
        <servlet-class>MyServlets.Salesreport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintStart</servlet-name>
        <servlet-class>MyServlets.PrintStart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillItemTable</servlet-name>
        <servlet-class>MyServlets.BillItemTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPage</servlet-name>
        <url-pattern>/ProductPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductTable</servlet-name>
        <url-pattern>/ProductTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleteproduct</servlet-name>
        <url-pattern>/Deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supplierpage</servlet-name>
        <url-pattern>/Supplierpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suppliertable</servlet-name>
        <url-pattern>/Suppliertable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplier</servlet-name>
        <url-pattern>/DeleteSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alert</servlet-name>
        <url-pattern>/Alert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Genericservlet</servlet-name>
        <url-pattern>/Genericservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AkshitLogin</servlet-name>
        <url-pattern>/AkshitLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginandPassword</servlet-name>
        <url-pattern>/LoginandPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentData</servlet-name>
        <url-pattern>/StudentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genericservlet</servlet-name>
        <url-pattern>/genericservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrugType</servlet-name>
        <url-pattern>/DrugType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatchNumber</servlet-name>
        <url-pattern>/BatchNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alphabet</servlet-name>
        <url-pattern>/Alphabet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInput</servlet-name>
        <url-pattern>/CustomerInput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecustomer</servlet-name>
        <url-pattern>/deletecustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerTable</servlet-name>
        <url-pattern>/CustomerTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpiryCode</servlet-name>
        <url-pattern>/ExpiryCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineDataServlet</servlet-name>
        <url-pattern>/MedicineDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateBill</servlet-name>
        <url-pattern>/GenerateBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salesreport</servlet-name>
        <url-pattern>/Salesreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintStart</servlet-name>
        <url-pattern>/PrintStart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillItemTable</servlet-name>
        <url-pattern>/BillItemTable</url-pattern>
    </servlet-mapping>
</web-app>
